.timeline {
  position: relative;
  margin: 50px auto;
  padding: 40px 0;
  width: 1000px;
  box-sizing: border-box;
}

.timeline::before {
  content: "";
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  background: #c5c5c5;
}

.timeline ul {
  margin: 0;
  padding: 0;
}

.timeline ul li {
  list-style: none;
  position: relative;
  width: 50%;
  padding: 10px 40px;
  box-sizing: border-box;
}

.timeline ul li:nth-child(odd) {
  float: left;
  text-align: right;
  clear: both;
}

.timeline ul li:nth-child(even) {
  float: right;
  text-align: left;
  clear: both;
}

.content {
  padding-bottom: 20px;
}

.timeline ul li:nth-child(odd)::before {
  content: "";
  position: absolute;
  top: 24px;
  right: -6px;
  width: 10px;
  height: 10px;
  background: rgb(28, 113, 192);
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(28, 113, 192, 0.2);
}

.timeline ul li:nth-child(even)::before {
  content: "";
  position: absolute;
  top: 24px;
  left: -4px;
  width: 10px;
  height: 10px;
  background: rgb(28, 113, 192);
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(28, 113, 192, 0.2);
}

.timeline ul li h3 {
  margin: 0;
  padding: 0;
  font-weight: 600;
  color: rgb(0, 132, 255);
}

.timeline ul li p {
  margin: 10px 0 0;
  padding: 0;
}

.timeline ul li .time h4 {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.timeline ul li:nth-child(odd) .time {
  position: absolute;
  top: 14px;
  right: -100px;
  margin: 0;
  padding: 8px 16px;
  background: rgb(28, 113, 192);
  color: #fff;
  border-radius: 18px;
  box-shadow: 0 0 0 3px rgba(28, 113, 192, 0.2);
}

.timeline ul li:nth-child(even) .time {
  position: absolute;
  top: 14px;
  left: -105px;
  margin: 0;
  padding: 8px 16px;
  background: rgb(28, 113, 192);
  color: #fff;
  border-radius: 18px;
  box-shadow: 0 0 0 3px rgba(28, 113, 192, 0.2);
}

@media (max-width: 1000px) {
  .timeline {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .timeline {
    width: 100%;
  }

  .timeline::before {
    left: 20px;
  }

  .timeline ul li:nth-child(even),
  .timeline ul li:nth-child(odd) {
    width: 100%;
    text-align: left;
    padding-left: 50px;
    padding-bottom: 20px;
    padding-top: 50px;
  }

  .timeline ul li:nth-child(odd)::before,
  .timeline ul li:nth-child(even)::before {
    top: 20px;
    left: 16px;
  }

  .timeline ul li:nth-child(odd) .time,
  .timeline ul li:nth-child(even) .time {
    top: 10px;
    left: 50px;
    right: inherit;
  }
}
